vendors = official webkit

html, body
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  padding: 0
  height: 100vh
  font: 1.15em / 1.3 sans-serif
  background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%)
  overflow: auto

.transitions-off
  transition: none !important

@import './keyframes'
@import './board'
@import './jewels'
