game-board
  display: grid
  overflow: hidden
  box-sizing: border-box
  width: calc(100vmin - 30px)
  height: calc(100vmin - 30px)
  border: 3px solid #3339
  border-radius: 5px
  cursor: pointer
  &[grabbing]
    cursor: grabbing !important
  &[animating]
    cursor: default !important

.prod game-board
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.dev game-board
  transition: all .1s cubic-bezier(0.645, 0.045, 0.355, 1)

board-slot
  position: relative
  display: grid
  padding: 10px
  box-sizing: border-box
  outline: 5px solid #3690
  transition: all .5s ease
  &:empty
    cursor: default
  &:nth-child(even)
    background: #11111177
  &:nth-child(odd)
    background: #00000077
  &[locked]
    border: 3px solid #3333
    background: transparent
    cursor: default
  &[selected]
    outline-color: #3699
    outline-offset: -7px
    background: #11336699
    cursor: grabbing
    animation: slot-selected .3s ease-in infinite alternate forwards
    jewel-piece
      z-index: 2
  &.exploding
    animation: slot-exploding .25s ease both

.dev board-slot[targetable]
  background: #c805
