#board
  display: grid
  box-sizing: border-box
  width: calc(100vmin - 2rem)
  height: calc(100vmin - 2rem)

.row
  display: grid
  &:first-child .column
    border-top: 1px solid #2222
    &:first-child
      border-radius: 6px 0 0 0
    &:last-child
      border-radius: 0 6px 0 0
  &:last-child .column
    border-bottom: 1px solid #2222
    &:first-child
      border-radius: 0 0 0 6px
    &:last-child
      border-radius: 0 0 6px 0

.column
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  background: #2221
  &:first-child
    border-left: 1px solid #2222
  &:last-child
    border-right: 1px solid #2222
