$color-square = #f44336
$color-diamond = #ffc107
$color-circle = #e85f0b
$color-triangle = #e040fb
$color-hexagon = #8bc34a
$color-heptagon = #0f6de6
$color-nebula = #455a64

jewel-piece
  position: absolute
  z-index: 1
  box-sizing: border-box
  padding: 7px
  width: 100%
  height: @width
  pointer-events: none
  transform-style: preserve-3d
  @media (max-width: $mobile-breakpoint)
    width: 110%
    height: @width
    top: -5%
    left: -5%
  &:not([hidden])
    display: block
  .border, .shape, .shape::after
    box-sizing: border-box
    width: 100%
    height: @width
  .border
    padding: 2px
  .shape
    padding: 15%
  .shape::after
    content: ''
    display: block
  &.arriving
    animation: jewel-arriving .2s cubic-bezier(.25, .25, .5, 1.1) forwards
  &.falling
    transition: transform .1s cubic-bezier(.25, .25, .5, 1.1)
  &.moving
    transition: transform .1s cubic-bezier(.25, .25, .5, 1.1)
  &.flipping
    transition: transform .15s ease-in
  &.exploding
    animation: jewel-exploding .35s ease-out forwards

jewel-piece:not([promoted='rainbow']):not([promoted='nebula'])
  &[type='square']
    $color = $color-square
    $colors = (($color + 50%) ($color + 15%) ($color - 7%) ($color - 15%))
    padding: 11px
    .border, .shape, .shape::after
      border-radius: 10%
    .border
      background: linear-gradient(130deg, $color + 40%, $color - 50%)
    .shape
      conic-background($color)
    .shape::after
      background: linear-gradient(130deg, alpha($color + 55%, 30%), alpha($color + 55%, 25%))

  &[type='diamond']
    $color = $color-diamond
    $colors = (($color + 60%) ($color + 40%) ($color - 15%) ($color - 30%))
    .border, .shape, .shape::after
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    .border
      background: linear-gradient(130deg, $colors[0], $colors[3])
    .shape
      conic-background($color, 30deg)
    .shape::after
      background: linear-gradient(130deg, alpha($color + 70%, 40%), alpha($color + 40%, 75%))

  &[type='circle']
    $color = $color-circle
    $colors = (($color + 50%) ($color + 25%) ($color - 5%) ($color - 20%))
    padding: 10px
    .border, .shape, .shape::after
      border-radius: 50%
    .border
      background: linear-gradient(130deg, $colors[0], $colors[3])
    .shape
      conic-background($color)
    .shape::after
      background: linear-gradient(130deg, alpha($color + 40%, 50%), alpha($color + 30%, 75%))

  &[type='triangle']
    $color = $color-triangle
    $colors = (($color + 90%) ($color + 40%) ($color - 20%) ($color - 40%))
    padding: 9px
    .border, .shape, .shape::after
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
    .border
      background: linear-gradient(130deg, $colors[0], $colors[3])
    .shape
      conic-background($color, 120deg)
      padding: 22% 16% 11%
    .shape::after
      background: linear-gradient(130deg, alpha($color + 40%, 50%), alpha($color + 40%, 90%))

  &[type='hexagon']
    $color = $color-hexagon
    $colors = (($color + 90%) ($color + 40%) ($color - 20%) ($color - 40%))
    padding: 9px
    .border, .shape, .shape::after
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    .border
      background: linear-gradient(130deg, $colors[0], $colors[3])
    .shape
      conic-background($color)
    .shape::after
      background: linear-gradient(130deg, alpha($color + 60%, 40%), alpha($color + 40%, 55%))

  &[type='heptagon']
    $color = $color-heptagon
    $colors = (($color + 80%) ($color + 45%) ($color - 12%) ($color - 40%))
    padding: 9px
    .border, .shape, .shape::after
      clip-path: polygon(30% 0, 0 20%, 0 55%, 50% 100%, 100% 55%, 100% 20%, 70% 0)
    .border
      background: linear-gradient(130deg, $colors[0], $colors[3])
    .shape
      conic-background($color)
      padding: 13% 15% 15%
    .shape::after
      background: linear-gradient(130deg, alpha($color + 60%, 40%), alpha($color + 40%, 55%))

jewel-piece[promoted]
  &:not(.arriving):not(.falling):not(.exploding) .shape
    animation: jewel-brightening .5s ease .75s infinite alternate backwards
  &::after
    position: absolute
    left: 50%
    z-index: 2
    width: 175%
    height: @width
    background-position: center
    background-size: 100% 100%
    content: ''
    transform: translate3d(-50%, 0, 0)
    pointer-events: none

jewel-piece[promoted='smoke']
  filter: drop-shadow(0 2px 4px #ddd9) drop-shadow(0 -2px 2px #555) drop-shadow(0 0 15px #ccc4)
  &::after
    top: -12%
    width: 115%
    height: @width
    filter: brightness(5) contrast(1.2) opacity(.5)
    background-image: url('../img/smoke.webp')

jewel-piece[promoted='fire']
  filter: drop-shadow(0 3px 6px #f007) drop-shadow(0 -2px 2px #ffc10755) drop-shadow(0 0 15px #ffc10755)
  &::after
    bottom: 16%
    left: 52%
    width: 170%
    height: 140%
    filter: saturate(2) brightness(1.2) contrast(1.25) opacity(1)
    background-image: url('../img/fire.webp')
  &[type="heptagon"]::after
    bottom: 26%

jewel-piece[promoted='star']
  filter: drop-shadow(0 2px 4px #e5e5ff77) drop-shadow(0 0 15px #0f6de666)
  &::after
    animation: star-blinking .85s ease .75s infinite alternate both
    width: 110%
    height: @width
    top: -5%
    clip-path: polygon(50% 0%, 55% 45%, 100% 50%, 55% 55%, 50% 100%, 45% 55%, 0 50%, 45% 45%)
    background-image: radial-gradient(circle, #fffb, #fff2)
    mix-blend-mode: lighten

jewel-piece[promoted='rainbow']
  padding: 8px
  filter: drop-shadow(0 0 15px alpha($color-heptagon, 20%)) drop-shadow(0 4px 4px alpha($color-diamond, 50%)) drop-shadow(0 -4px 4px alpha($color-triangle, 40%))
  .border, .shape, .shape::after
    border-radius: 0
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)
  .border
    background: linear-gradient(98deg, $color-circle, $color-diamond, $color-hexagon, $color-heptagon, $color-triangle, $color-square)
    background: conic-gradient(from 90deg, #fff5, #fff2, #fff0, #fff5, #fff3, #fff0, #fff5, #fff2, #fff0, #fff5, #fff3, #fff0, #fff5), linear-gradient(to right, $color-circle, $color-diamond, $color-hexagon, $color-heptagon, $color-triangle, $color-square)
  .shape
    background: linear-gradient(90deg, $color-circle, $color-diamond, $color-hexagon, $color-heptagon, $color-triangle, $color-square)
    background: conic-gradient(from 45deg, #fff5, #fff2, #fff0, #fff5, #fff3, #fff0, #fff5, #fff2, #fff0, #fff5, #fff3, #fff0, #fff5), linear-gradient(to right, $color-circle, $color-diamond, $color-hexagon, $color-heptagon, $color-triangle, $color-square)
  .shape::after
    background: linear-gradient(130deg, #fff2, #fff3)
    backdrop-filter: blur(4px)

jewel-piece[promoted='nebula']
  $color = $color-nebula
  $colors = (($color + 65%) ($color + 5%) ($color - 25%))
  filter: drop-shadow(0 4px 4px #436a) drop-shadow(0 0 15px #0009)
  .border, .shape
    border-radius: 50%
    clip-path: none
  .border
    filter: drop-shadow(0 0 3px #black)
    background: linear-gradient(130deg, $colors[0], $colors[1])
  .shape
    background: linear-gradient(130deg, $color, $colors[2])
  .shape::after
    display: none
  &::after
    top: -36%
    filter: brightness(0) contrast(2)
    background-image: url('../img/smoke.webp')
