@keyframes text-shine
  0%
    background-position: -200%
  100%
    background-position: 125%

@keyframes background-shine
  0%
    background-position: -200%, 50% 50%
  100%
    background-position: 125%, 50% 50%

@keyframes slot-selected
  0%
    outline-color: #8be5
    outline-offset: -5px
    outline-width: 5px
  100%
    outline-color: #8be7
    outline-offset: -7px
    outline-width: 7px

@keyframes slot-exploding
  0%, 100%
    box-shadow: inset 0 0 0 #fff3, 0 0 0 #fdd5
  15%, 25%
    box-shadow: inset 0 0 200px #fff3, 0 0 50px #fdd5

@keyframes jewel-arriving
  0%
    transform: translate3d(0, -100vh, 0)
  100%
    transform: translate3d(0, 0, 0)

@keyframes jewel-falling
  0%
    transform: translate3d(0, -100%, 0)
  100%
    transform: translate3d(0, 0, 0)

@keyframes jewel-exploding
  0%
    opacity: 1
    transform: scale(1)
  75%
    opacity: 1
    transform: scale(1.15)
  100%
    opacity: 0
    transform: scale(0.25) translate3d(0, 5%, 0)

@keyframes jewel-brightening
  0%
    filter: brightness(1)
  100%
    filter: brightness(1.2)

@keyframes star-blinking
  0%
    transform: translateX(-50%)
    filter: brightness(1) drop-shadow(0 0 .5px #fffa)
  100%
    transform: translateX(-50%) scale(.9)
    filter: brightness(1.075) drop-shadow(0 0 1px #fffa)
